<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.wit.fieldwork">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

  <!-- To auto-complete the email text field in the login form with the user's emails -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.READ_PROFILE" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <application
    android:name=".main.MainApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:largeHeap="true"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".views.splashscreen.SplashscreenView">
     android:theme="@style/Splashtheme">
      android:noHistory="true">
      <intent-filter>-
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".views.fieldwork.FieldworkView"
      android:parentActivityName=".views.fieldworklist.FieldworkListView" />
    <activity android:name=".views.fieldworklist.FieldworkListView" />

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="@string/google_maps_key" />

    <activity
      android:name=".views.editlocation.EditLocationView"
      android:label="@string/title_activity_maps" />

    <activity
      android:name=".views.login.LoginView"
      android:label="@string/title_activity_login"/>
    


    <activity
      android:name=".activities.SettingsActivity"
      android:label="@string/title_activity_settings"
      android:parentActivityName=".views.fieldworklist.FieldworkListView" />
    <activity
      android:name=".views.map.FieldworkMapView"
      android:label="@string/title_activity_fieldwork_maps"
      android:theme="@style/AppTheme"></activity>
  </application>

</manifest>